@import url('bootstrap');
@import url('bootstrap-icons');


.app-sizer {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}


#root {
    background-color: lightgoldenrodyellow;
}

#loader_container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}